<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926"/>
  <!-- 雷达物理参数 -->
  <xacro:property name="mid360_mass" value="0.4" />
  <xacro:property name="mid360_length" value="0.1" /> 
  <xacro:property name="mid360_width" value="0.06" /> 
  <xacro:property name="mid360_height" value="0.06" /> 
  
  <!-- 激光雷达性能参数（匹配硬件规格） -->
  <xacro:property name="laser_min_range" value="0.1" /> <!-- 最小探测距离（m） -->
  <xacro:property name="laser_max_range" value="200.0" /> <!-- 最大探测距离（m） -->
  <xacro:property name="laser_update_rate" value="20" /> <!-- 刷新频率（Hz），Mid360最大支持20Hz -->
  <xacro:property name="horizontal_samples" value="300" /> <!-- 水平采样数（越多数据越密） -->
  <xacro:property name="vertical_samples" value="64" /> <!-- 垂直采样数（Mid360实际为64线） -->
  <xacro:property name="horizontal_min_angle" value="0" /> <!-- 水平最小角度（弧度） -->
  <xacro:property name="horizontal_max_angle" value="${2*M_PI}" /> <!-- 水平最大角度（360°） -->
  <xacro:property name="vertical_min_angle" value="${-7.22/180*M_PI}" /> <!-- 垂直最小角度（-7.22°） -->
  <xacro:property name="vertical_max_angle" value="${55.22/180*M_PI}" /> <!-- 垂直最大角度（55.22°） -->
  <xacro:property name="laser_resolution" value="0.002" /> <!-- 距离分辨率（m） -->
  <xacro:property name="noise_mean" value="0.0" /> <!-- 噪声均值 -->
  <xacro:property name="noise_stddev" value="0.002" /> <!-- 噪声标准差 -->
  <xacro:property name="downsample_rate" value="2" /> <!-- 降采样系数（2=每2个点保留1个） -->


  <!-- 2. 雷达模型-->
  <xacro:macro name="mid360" params=" name:='mid360_laser' parent:='base_link' topic:='/mid360/pointcloud' *origin">
    <link name="${name}">
      <visual>
        <!-- 雷达自身坐标系到link的偏移-->
        <origin xyz="0.025 -0.0265 -0.025" rpy="${M_PI/2} 0 ${M_PI}"/>
        <geometry>
          <mesh filename="file:///home/mage/navigation/nav_RM_4/src/rm_bnrobot_sim/meshes/mid360.stl" scale="0.0008 0.0008 0.0008"/>
        </geometry>
        <material name="black">
          <color rgba="0.8 0.8 0.8 0.8"/> 
        </material>
      </visual>

      <collision>
        <origin xyz="0.025 -0.0265 -0.025" rpy="${M_PI/2} 0 ${M_PI}"/> 
        <geometry>
          <box size="${mid360_length} ${mid360_width} ${mid360_height}"/> 
        </geometry>
      </collision>

      <!-- 惯性参数 -->
      <xacro:box_inertia 
        m="${mid360_mass}" 
        w="${mid360_length}" 
        h="${mid360_width}" 
        d="${mid360_height}"/>
    </link>


    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/> 
      <child link="${name}"/>   
      <xacro:insert_block name="origin"/> 
    </joint>

    <!-- 5. Gazebo传感器插件配置 -->
    <gazebo reference="${name}">
      <sensor type="ray" name="${name}">
        <!-- <pose>0 0 0 0 0 0</pose>  -->
        <pose>0.0 0.0 0.0 0 0</pose><!-- 传感器自身在link中的姿态（无偏移） -->
        <visualize>true</visualize> <!-- 在Gazebo中显示扫描线（调试用） -->
        <update_rate>${laser_update_rate}</update_rate> <!-- 刷新频率 -->
        
        <!-- 6. Livox雷达插件（发布点云数据） -->
        <plugin name="${name}_plugin" filename="libros2_livox.so">  
          <simulate>true</simulate> 
  

          <ray>
            <scan>
              <!-- 水平扫描参数 -->
              <horizontal>
                <samples>${horizontal_samples}</samples>
                <resolution>1</resolution>
                <min_angle>${horizontal_min_angle}</min_angle>
                <max_angle>${horizontal_max_angle}</max_angle>
              </horizontal>
              <!-- 垂直扫描参数 -->
              <vertical>
                <samples>${vertical_samples}</samples>
                <resolution>1</resolution>
                <min_angle>${vertical_min_angle}</min_angle>
                <max_angle>${vertical_max_angle}</max_angle>
              </vertical>
            </scan>
            <!-- 距离参数 -->
            <range>
              <min>${laser_min_range}</min>
              <max>${laser_max_range}</max>
              <resolution>${laser_resolution}</resolution>
            </range>
            <!-- 噪声参数 -->
            <noise>
              <type>gaussian</type>
              <mean>${noise_mean}</mean>
              <stddev>${noise_stddev}</stddev>
            </noise>
          </ray>
          

          <visualize>false</visualize> <!-- 点云可视化由RViz负责，Gazebo中关闭 -->
          <samples>${horizontal_samples * vertical_samples}</samples> <!-- 总采样数 -->
          <downsample>${downsample_rate}</downsample> <!-- 降采样 -->
          <csv_file_name>$(find rm_bnrobot_sim)/scan_mode/mid360.csv</csv_file_name> 扫描模式配置文件
          <topic>${topic}</topic> <!-- 点云发布话题 -->
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
