<?xml version="1.0" encoding="UTF-8"?>
<robot name="bnbot" xmlns:xacro="http://ros.org/wiki/xacro" ns="bnbot">

  <xacro:property name="M_PI" value="3.1415926" />
  
  <xacro:property name="base_length" value="0.633" />
  <xacro:property name="base_width" value="0.526" />
  <xacro:property name="base_height" value="0.42" />
  <xacro:property name="base_mass" value="5.0" />
  <xacro:property name="base_center_z" value="${base_height/2}" /> <xacro:property name="lidar_topic" value="mid360" />

  <xacro:include filename="$(find ros2_livox_simulation)/urdf/mid360.xacro" />

  <link name="mid360" />

  <link name="base_link">
    <visual>
      <origin xyz="0 0 ${base_center_z}" rpy="0 0 0" />
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}" />
      </geometry>
      <material name="blue">
        <color rgba="0.1 0.1 1.0 0.5" />
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 ${base_center_z}" rpy="0 0 0" />
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}" />
      </geometry>
    </collision>
    
    <inertial>
      <origin xyz="0 0 ${base_center_z}" rpy="0 0 0" />
      <mass value="${base_mass}" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0"
               iyy="0.01" iyz="0.0" izz="0.02" />
    </inertial>
  </link>
  
  <joint name="mid360_to_base_joint" type="fixed">
    <parent link="mid360" />
    <child link="base_link" />
    <origin xyz="0 0 -${base_height+0.2}" rpy="0 0 0" />
  </joint>

  <xacro:mid360 name="mid360_sensor" parent="mid360" topic="${lidar_topic}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:mid360>

</robot>